.header {
  display: flex;
  /* border: solid black; */
  justify-content: space-between;
  place-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-bar {
  float: right;
  margin-right: 20px;
}

.nav-bar ul {
  /* border: solid red; */
  float: right;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-bar ul li {
  margin: 10px;
  font-size: x-large;
}

.search-bar {
width: 50%;
margin: auto;
padding-top: 10px;
}

.search-text {
  height: 40px;
  width: 50%;
  margin-left: 40px;
  font-size: medium;
}

.search-icon {
  width: 20px;
  height: 30px;
}

.res-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.res-image{
  display: flex;
}

.res-card {
  margin: 10px 60px ;
  height: 450px;
  width: 300px;
  background-color: #f0f0f0;
}

.res-image {
  /* margin: 10px; */
  width: 300px;
  height: 180px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}

.lightWeight{
  font-weight: lighter;
  margin-top: 10px;
}