.header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border: solid black;
}

.logo {
  width: 200px;
  height: 200px;
}

.nav-bar {
  float: right;
  margin-right: 20px;
}

.nav-bar ul {
  /* border: solid red; */
  float: right;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-bar ul li {
  margin: 10px;
  font-size: x-large;
}


.res-container {
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}

.res-card {
  border-style: outset;
  margin: 10px 60px ;
  height: 450px;
  width: 200px;
  background-color: #f0f0f0;
}

.res-image {
  width: 200px;
  height: 180px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}

.lightWeight{
  font-weight: lighter;
  margin-top: 10px;
  font-style: italic;
}

.filter-btn{
  margin: 10px
}