.header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border: solid black;
}

.logo {
  width: 200px;
  height: 200px;
}

.nav-bar {
  float: right;
  margin-right: 20px;
}

.nav-bar ul {
  float: right;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-bar ul li {
  margin: 10px;
  font-size: x-large;
}

.res-container {
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}

.res-card {
  border-style: outset;
  margin: 10px 60px;
  height: 450px;
  width: 200px;
  background-color: #f0f0f0;
}

.res-image {
  width: 200px;
  height: 180px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}

.lightWeight {
  font-weight: lighter;
  margin-top: 10px;
  font-style: italic;
}

.filter-btn {
  margin: 10px;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgray;
  margin: 20px;
}

.login-btn {
  background-color: rgb(1, 222, 214);
  cursor: pointer;
  /* border-radius: 30px; */
  padding: 0px 10px;
}

.filter {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  height: 35px;
  background-color: aqua;
  cursor: pointer;
}

.search-input {
  width: 300px;
  height: 35px;
  margin-right: 5px;
}

.search-button {
  cursor: pointer;
  width: 100px;
  height: 35px;
}

.user-card {
  border: solid black 1px;
  width: 400px;
  margin-right: 50px;
}

.user-image {
  width: 100px;
  height: 100px;
  margin-left: 100px
}

.contact-details {
  display: flex;
}
